--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CargaSituacao; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."CargaSituacao" AS ENUM (
    'ABERTA',
    'SOLICITADA',
    'FECHADA',
    'CANCELADA',
    'ENTREGUE'
);


ALTER TYPE public."CargaSituacao" OWNER TO admin;

--
-- Name: Meses; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."Meses" AS ENUM (
    'JANEIRO',
    'FEVEREIRO',
    'MARCO',
    'ABRIL',
    'MAIO',
    'JUNHO',
    'JULHO',
    'AGOSTO',
    'SETEMBRO',
    'OUTUBRO',
    'NOVEMBRO',
    'DEZEMBRO'
);


ALTER TYPE public."Meses" OWNER TO admin;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'USER',
    'VENDAS',
    'LOGISTICA',
    'ALMOX'
);


ALTER TYPE public."Role" OWNER TO admin;

--
-- Name: Status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."Status" AS ENUM (
    'PENDENTE',
    'EM_ANDAMENTO',
    'FINALIZADO',
    'CANCELADO'
);


ALTER TYPE public."Status" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CalendarioMetas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CalendarioMetas" (
    id text NOT NULL,
    mes public."Meses" DEFAULT 'JANEIRO'::public."Meses" NOT NULL,
    ano integer DEFAULT 2025 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CalendarioMetas" OWNER TO admin;

--
-- Name: Caminhao; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Caminhao" (
    id integer NOT NULL,
    modelo text NOT NULL,
    eixos integer NOT NULL,
    eixos_carregado integer NOT NULL,
    eixos_vazio integer NOT NULL,
    pneus integer NOT NULL,
    capacidade_kg integer NOT NULL,
    consumo_medio_km_l double precision NOT NULL,
    tipo text
);


ALTER TABLE public."Caminhao" OWNER TO admin;

--
-- Name: CaminhaoRota; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CaminhaoRota" (
    id integer NOT NULL,
    rota_base_id integer NOT NULL,
    caminhao_id integer NOT NULL,
    pedagio_ida double precision NOT NULL,
    pedagio_volta double precision NOT NULL,
    custo_combustivel double precision NOT NULL,
    custo_total double precision NOT NULL,
    salario_motorista_rota double precision NOT NULL,
    refeicao_motorista_rota double precision NOT NULL,
    ajuda_custo_motorista_rota double precision NOT NULL,
    chapa_descarga_rota double precision NOT NULL,
    desgaste_pneus_rota double precision NOT NULL,
    margem_lucro_frete double precision DEFAULT 0.35 NOT NULL,
    custo_total_rota double precision DEFAULT 0.0 NOT NULL,
    custo_por_kg double precision DEFAULT 0.0 NOT NULL,
    valor_frete_kg double precision DEFAULT 0.0 NOT NULL,
    custo_operacional double precision DEFAULT 0.0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CaminhaoRota" OWNER TO admin;

--
-- Name: CaminhaoRota_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."CaminhaoRota_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."CaminhaoRota_id_seq" OWNER TO admin;

--
-- Name: CaminhaoRota_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."CaminhaoRota_id_seq" OWNED BY public."CaminhaoRota".id;


--
-- Name: Caminhao_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Caminhao_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Caminhao_id_seq" OWNER TO admin;

--
-- Name: Caminhao_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Caminhao_id_seq" OWNED BY public."Caminhao".id;


--
-- Name: Cargas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Cargas" (
    id text NOT NULL,
    "codCar" integer NOT NULL,
    destino text NOT NULL,
    "pesoMax" integer NOT NULL,
    "custoMin" integer NOT NULL,
    situacao public."CargaSituacao" DEFAULT 'ABERTA'::public."CargaSituacao" NOT NULL,
    "previsaoSaida" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Cargas" OWNER TO admin;

--
-- Name: CargasFechadas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."CargasFechadas" (
    id text NOT NULL,
    "cargaId" text NOT NULL,
    pedidos jsonb[]
);


ALTER TABLE public."CargasFechadas" OWNER TO admin;

--
-- Name: Metas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Metas" (
    id text NOT NULL,
    produto text DEFAULT ''::text NOT NULL,
    "metaProduto" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "codRep" integer DEFAULT 0 NOT NULL,
    "mesMeta" integer DEFAULT 0 NOT NULL,
    "anoMeta" integer DEFAULT 0 NOT NULL,
    "precoMedio" double precision DEFAULT 0.0 NOT NULL,
    "totalVendas" double precision DEFAULT 0.0 NOT NULL,
    cod_grp text DEFAULT ''::text
);


ALTER TABLE public."Metas" OWNER TO admin;

--
-- Name: ParametrosGlobaisViagem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ParametrosGlobaisViagem" (
    id integer NOT NULL,
    valor_diesel_s10_sem_icms double precision NOT NULL,
    valor_diesel_s10_com_icms double precision NOT NULL,
    valor_salario_motorista_dia double precision NOT NULL,
    valor_refeicao_motorista_dia double precision NOT NULL,
    valor_ajuda_custo_motorista double precision NOT NULL,
    valor_chapa_descarga double precision NOT NULL,
    valor_desgaste_pneus double precision NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    margem_lucro_frete double precision DEFAULT 0.35 NOT NULL
);


ALTER TABLE public."ParametrosGlobaisViagem" OWNER TO admin;

--
-- Name: ParametrosGlobaisViagem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."ParametrosGlobaisViagem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."ParametrosGlobaisViagem_id_seq" OWNER TO admin;

--
-- Name: ParametrosGlobaisViagem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."ParametrosGlobaisViagem_id_seq" OWNED BY public."ParametrosGlobaisViagem".id;


--
-- Name: Rota_base; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Rota_base" (
    id integer NOT NULL,
    origem text NOT NULL,
    destino text NOT NULL,
    total_km integer NOT NULL,
    dias_viagem integer NOT NULL
);


ALTER TABLE public."Rota_base" OWNER TO admin;

--
-- Name: Rota_base_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Rota_base_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Rota_base_id_seq" OWNER TO admin;

--
-- Name: Rota_base_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Rota_base_id_seq" OWNED BY public."Rota_base".id;


--
-- Name: SolicitacaoRota; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."SolicitacaoRota" (
    id integer NOT NULL,
    data_solicitacao timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    peso integer NOT NULL,
    origem text NOT NULL,
    destino text NOT NULL,
    status public."Status" DEFAULT 'PENDENTE'::public."Status" NOT NULL,
    solicitante_user text NOT NULL
);


ALTER TABLE public."SolicitacaoRota" OWNER TO admin;

--
-- Name: SolicitacaoRota_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."SolicitacaoRota_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."SolicitacaoRota_id_seq" OWNER TO admin;

--
-- Name: SolicitacaoRota_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."SolicitacaoRota_id_seq" OWNED BY public."SolicitacaoRota".id;


--
-- Name: Trucks; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Trucks" (
    id text NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "codRep" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Trucks" OWNER TO admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text DEFAULT ''::text NOT NULL,
    "user" text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "codRep" integer DEFAULT 0 NOT NULL,
    "mustChangePassword" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Name: Caminhao id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Caminhao" ALTER COLUMN id SET DEFAULT nextval('public."Caminhao_id_seq"'::regclass);


--
-- Name: CaminhaoRota id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CaminhaoRota" ALTER COLUMN id SET DEFAULT nextval('public."CaminhaoRota_id_seq"'::regclass);


--
-- Name: ParametrosGlobaisViagem id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ParametrosGlobaisViagem" ALTER COLUMN id SET DEFAULT nextval('public."ParametrosGlobaisViagem_id_seq"'::regclass);


--
-- Name: Rota_base id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rota_base" ALTER COLUMN id SET DEFAULT nextval('public."Rota_base_id_seq"'::regclass);


--
-- Name: SolicitacaoRota id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."SolicitacaoRota" ALTER COLUMN id SET DEFAULT nextval('public."SolicitacaoRota_id_seq"'::regclass);


--
-- Data for Name: CalendarioMetas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."CalendarioMetas" (id, mes, ano, "createdAt") FROM stdin;
\.


--
-- Data for Name: Caminhao; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Caminhao" (id, modelo, eixos, eixos_carregado, eixos_vazio, pneus, capacidade_kg, consumo_medio_km_l, tipo) FROM stdin;
1	BI-TRUCK - MERCEDES	4	4	2	12	18000	3.2	\N
3	BI-TRUCK - SCANIA	4	4	3	12	18000	3.5	\N
4	TRUCK ATEGO	3	3	2	10	14150	3.4	\N
5	TOCO BDF-6B43	2	2	2	6	7600	4.8	\N
\.


--
-- Data for Name: CaminhaoRota; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."CaminhaoRota" (id, rota_base_id, caminhao_id, pedagio_ida, pedagio_volta, custo_combustivel, custo_total, salario_motorista_rota, refeicao_motorista_rota, ajuda_custo_motorista_rota, chapa_descarga_rota, desgaste_pneus_rota, margem_lucro_frete, custo_total_rota, custo_por_kg, valor_frete_kg, custo_operacional, "createdAt") FROM stdin;
\.


--
-- Data for Name: Cargas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: CargasFechadas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."CargasFechadas" (id, "cargaId", pedidos) FROM stdin;
\.


--
-- Data for Name: Metas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ParametrosGlobaisViagem; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."ParametrosGlobaisViagem" (id, valor_diesel_s10_sem_icms, valor_diesel_s10_com_icms, valor_salario_motorista_dia, valor_refeicao_motorista_dia, valor_ajuda_custo_motorista, valor_chapa_descarga, valor_desgaste_pneus, "updatedAt", margem_lucro_frete) FROM stdin;
\.


--
-- Data for Name: Rota_base; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Rota_base" (id, origem, destino, total_km, dias_viagem) FROM stdin;
\.


--
-- Data for Name: SolicitacaoRota; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."SolicitacaoRota" (id, data_solicitacao, peso, origem, destino, status, solicitante_user) FROM stdin;
\.


--
-- Data for Name: Trucks; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Trucks" (id, name, capacity, "createdAt", "codRep") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: CaminhaoRota_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."CaminhaoRota_id_seq"', 1, false);


--
-- Name: Caminhao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Caminhao_id_seq"', 5, true);


--
-- Name: ParametrosGlobaisViagem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."ParametrosGlobaisViagem_id_seq"', 1, true);


--
-- Name: Rota_base_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Rota_base_id_seq"', 1, false);


--
-- Name: SolicitacaoRota_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."SolicitacaoRota_id_seq"', 1, false);


--
-- Name: CalendarioMetas CalendarioMetas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CalendarioMetas"
    ADD CONSTRAINT "CalendarioMetas_pkey" PRIMARY KEY (id);


--
-- Name: CaminhaoRota CaminhaoRota_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CaminhaoRota"
    ADD CONSTRAINT "CaminhaoRota_pkey" PRIMARY KEY (id);


--
-- Name: Caminhao Caminhao_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Caminhao"
    ADD CONSTRAINT "Caminhao_pkey" PRIMARY KEY (id);


--
-- Name: CargasFechadas CargasFechadas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CargasFechadas"
    ADD CONSTRAINT "CargasFechadas_pkey" PRIMARY KEY (id);


--
-- Name: Cargas Cargas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Cargas"
    ADD CONSTRAINT "Cargas_pkey" PRIMARY KEY (id);


--
-- Name: Metas Metas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Metas"
    ADD CONSTRAINT "Metas_pkey" PRIMARY KEY (id);


--
-- Name: ParametrosGlobaisViagem ParametrosGlobaisViagem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ParametrosGlobaisViagem"
    ADD CONSTRAINT "ParametrosGlobaisViagem_pkey" PRIMARY KEY (id);


--
-- Name: Rota_base Rota_base_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rota_base"
    ADD CONSTRAINT "Rota_base_pkey" PRIMARY KEY (id);


--
-- Name: SolicitacaoRota SolicitacaoRota_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."SolicitacaoRota"
    ADD CONSTRAINT "SolicitacaoRota_pkey" PRIMARY KEY (id);


--
-- Name: Trucks Trucks_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Trucks"
    ADD CONSTRAINT "Trucks_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Cargas_codCar_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Cargas_codCar_key" ON public."Cargas" USING btree ("codCar");


--
-- Name: User_user_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_user_key" ON public."User" USING btree ("user");


--
-- Name: CaminhaoRota CaminhaoRota_caminhao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CaminhaoRota"
    ADD CONSTRAINT "CaminhaoRota_caminhao_id_fkey" FOREIGN KEY (caminhao_id) REFERENCES public."Caminhao"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CaminhaoRota CaminhaoRota_rota_base_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CaminhaoRota"
    ADD CONSTRAINT "CaminhaoRota_rota_base_id_fkey" FOREIGN KEY (rota_base_id) REFERENCES public."Rota_base"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CargasFechadas CargasFechadas_cargaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."CargasFechadas"
    ADD CONSTRAINT "CargasFechadas_cargaId_fkey" FOREIGN KEY ("cargaId") REFERENCES public."Cargas"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SolicitacaoRota SolicitacaoRota_solicitante_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."SolicitacaoRota"
    ADD CONSTRAINT "SolicitacaoRota_solicitante_user_fkey" FOREIGN KEY (solicitante_user) REFERENCES public."User"("user") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

